body {
    background: #fbfbfb;
}

.data-table {
}

.data-table th, .data-table td {
    text-align: center !important;
}

.pt20 {
    padding: 20px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.help_text {
    text-align: center !important;
    color: #777;
}

.pa15 {
    padding: 25px !important;
}

.error_message {
    font-size: 12px !important;
    color: red;
}

.success_message {
    font-size: 12px !important;
    color: green;
}

.text-small {
    font-size: 12px !important;
}

.mt20 {
    margin-top: 20px;
}

.error_message_block {
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    border: 1px solid #d1d1d1;
    margin-top: 10px;
}
