{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BukharaGOV</title>
    <link rel="stylesheet" href="{% static 'app/css/semantic.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}" />
    {% block top %}{% endblock %}
</head>
<body>

{% block content %}{% endblock %}

<script type="application/javascript" src="{% static 'app/js/jquery-3.1.1.min.js' %}"></script>
{% block bottom %}{% endblock %}
</body>
</html>