{% extends 'layouts/main.html' %}

{% block content %}

    <div class="ui grid pt20">
        <div class="six wide column centered">
            <div class="ui piled segments mb15 data-table">
                <div class="ui segment pa15">
                    <h4>Вход в личный кабинет</h4>
                    {% if messages %}
                        {% for message in messages %}
                            <p{% if message.tags %} class="error_message"{% endif %}>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                    <form action="" class="ui form mini" method="post">
                        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                        <div class="field">
                            <input type="text" name="login" placeholder="Логин">
                        </div>
                        <div class="field">
                            <input type="password" name="password" placeholder="Пароль">
                        </div>
                        <button type="submit" class="ui mini primary button">Войти</button>
                    </form>
                </div>
            </div>
            <p class="help_text">Возникли вопросы? Звоните: 223-42-38</p>
        </div>
    </div>
{% endblock %}