{% extends 'layouts/main.html' %}

{% block content %}
    <div class="ui grid">
        <div class="eight wide column centered">
            <div class="ui grid">
                <div class="eight wide column centered mt20">
                    <div class="ui stacked segment">
                        <form action="" method="post" enctype="multipart/form-data">
                            <input type="file" name="file" accept=".csv" required="required"
                                   onchange="checkfile(this)"/><br><br>
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                            <button type="submit" class="ui mini primary button">Отправить</button>
                        </form>
                        {% if errors|length > 0 %}
                            <div class="error_message_block">
                                <p class="text-small">Данные не занесены. Пожалуйста исправьте сначала ошибки.</p>
                                {% for error in errors %}
                                    <p class="error_message">{{ error.message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if message|length > 0 %}
                            <div class="error_message_block">
                                {% for mess in message %}
                                    <p class="success_message">{{ mess.message }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="ui grid">
                <div class="twelve wide column centered">
                    <table class="ui celled striped table data-table">
                        <thead>
                        <tr>
                            <th>ИНН</th>
                            <th>Сумма</th>
                            <th>Время</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cash in data %}
                            <tr>
                                <td class="collapsing">{{ cash.inn }}</td>
                                <td>{{ cash.sum|add:0 }} сум</td>
                                <td class="right aligned collapsing">{{ cash.created_at|date:"d-m-Y" }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {% if data.has_other_pages %}
                        <div class="ui pagination menu">
                            {% if data.has_previous %}
                                <a class="item" href="?page={{ data.previous_page_number }}">&laquo;</a>
                            {% else %}
                                <a class="item disabled"><span>&laquo;</span></a>
                            {% endif %}
                            {% for i in data.paginator.page_range %}
                                {% if data.number == i %}
                                    <a class="item active"><span>{{ i }}</span></a>
                                {% else %}
                                    <a class="item" href="?page={{ i }}">{{ i }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if data.has_next %}
                                <a class="item" href="?page={{ data.next_page_number }}">&raquo;</a>
                            {% else %}
                                <a href="#" class="item disabled"><span>&raquo;</span></a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block bottom %}
    <script type="application/javascript">
        function checkfile(sender) {
            var validExts = [".csv"];
            var fileExt = sender.value;
            fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
            if (validExts.indexOf(fileExt) < 0) {
                alert("Принимаются файлы только формата .csv");
                return false;
            } else {
                return true;
            }
        }
    </script>
{% endblock %}
